@page
@model IFL.WebApp.Areas.Admin.Pages.General.Atletas.CreateModel

@{
    ViewData["Title"] = "Inserir";
}

<breadcrumb items="Cadastros, Gerais, Atleta, Inserir"></breadcrumb>

<div class="row">
    <div class="col-md-8">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Atleta.Nome" class="control-label"></label>
                        <input asp-for="Atleta.Nome" class="form-control" />
                        <span asp-validation-for="Atleta.Nome" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Atleta.DataNascimento" class="control-label"></label>
                        <input asp-for="Atleta.DataNascimento" type="date" class="form-control" />
                        <span asp-validation-for="Atleta.DataNascimento" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Atleta.DataMatricula" class="control-label"></label>
                        <input asp-for="Atleta.DataMatricula" type="date" class="form-control" />
                        <span asp-validation-for="Atleta.DataMatricula" class="text-danger"></span>
                    </div>
                </div>

            </div>



            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <span class="text-danger">*</span>
                        <label asp-for="Atleta.Sexo" class="control-label"></label>
                        <select asp-for="Atleta.Sexo"
                                class="form-select"
                                asp-items="Html.GetEnumSelectList<IFL.WebApp.Model.Sexo>()">
                        </select>
                        <span asp-validation-for="Atleta.Sexo" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Atleta.CPF" class="control-label"></label>
                        <input asp-for="Atleta.CPF" class="form-control" />
                        <span asp-validation-for="Atleta.CPF" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Atleta.RG" class="control-label"></label>
                        <input asp-for="Atleta.RG" class="form-control" />
                        <span asp-validation-for="Atleta.RG" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Atleta.Profissao" class="control-label"></label>
                        <input asp-for="Atleta.Profissao" class="form-control" />
                        <span asp-validation-for="Atleta.Profissao" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Atleta.TelefonePrincipal" class="control-label"></label>
                        <input asp-for="Atleta.TelefonePrincipal" class="form-control" />
                        <span asp-validation-for="Atleta.TelefonePrincipal" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Atleta.Responsavel" class="control-label"></label>
                        <input asp-for="Atleta.Responsavel" class="form-control" />
                        <span asp-validation-for="Atleta.Responsavel" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Atleta.TelefoneResponsavel" class="control-label"></label>
                        <input asp-for="Atleta.TelefoneResponsavel" class="form-control" />
                        <span asp-validation-for="Atleta.TelefoneResponsavel" class="text-danger"></span>
                    </div>
                </div>



            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="Atleta.Email" class="control-label"></label>
                        <input asp-for="Atleta.Email" class="form-control" />
                        <span asp-validation-for="Atleta.Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <span class="text-danger">*</span>
                        <label asp-for="Atleta.TipoEscola" class="control-label"></label>
                        <select asp-for="Atleta.TipoEscola"
                                class="form-select"
                                asp-items="Html.GetEnumSelectList<IFL.WebApp.Model.TipoEscola>()">
                        </select>
                        <span asp-validation-for="Atleta.TipoEscola" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Atleta.Escola" class="control-label"></label>
                        <input asp-for="Atleta.Escola" class="form-control" />
                        <span asp-validation-for="Atleta.Escola" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="Atleta.Logradouro" class="control-label"></label>
                        <input asp-for="Atleta.Logradouro" class="form-control" />
                        <span asp-validation-for="Atleta.Logradouro" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Atleta.Bairro" class="control-label"></label>
                        <input asp-for="Atleta.Bairro" class="form-control" />
                        <span asp-validation-for="Atleta.Bairro" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Atleta.Municipio" class="control-label"></label>
                        <input asp-for="Atleta.Municipio" class="form-control" />
                        <span asp-validation-for="Atleta.Municipio" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Atleta.CEP" class="control-label"></label>
                        <input asp-for="Atleta.CEP" class="form-control" />
                        <span asp-validation-for="Atleta.CEP" class="text-danger"></span>
                    </div>
                </div>
            </div>



            <div class="col-md-3">
                <div class="form-group form-check">
                    <input asp-for="Atleta.ProblemaSaude" class="form-check-input" />
                    <label asp-for="Atleta.ProblemaSaude" class="form-check-label"></label>
                    <span asp-validation-for="Atleta.ProblemaSaude" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group form-check">
                    <input asp-for="Atleta.PCD" class="form-check-input" />
                    <label asp-for="Atleta.PCD" class="form-check-label"></label>
                    <span asp-validation-for="Atleta.PCD" class="text-danger"></span>
                </div>
            </div>


            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Atleta.DescricaoProblemaSaude" class="control-label"></label>
                        <input asp-for="Atleta.DescricaoProblemaSaude" class="form-control" />
                        <span asp-validation-for="Atleta.DescricaoProblemaSaude" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Atleta.AcionarUrgencia" class="control-label"></label>
                        <input asp-for="Atleta.AcionarUrgencia" class="form-control" />
                        <span asp-validation-for="Atleta.AcionarUrgencia" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div class="col-md-3">
                <div class="form-group form-check">
                    <input asp-for="Atleta.Ativo" class="form-check-input" checked="checked" />
                    <label asp-for="Atleta.Ativo" class="form-check-label"></label>
                    <span asp-validation-for="Atleta.Ativo" class="text-danger"></span>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 mb3">
                    <label class="form-label">Imagem</label>
                    <input asp-for="ArquivoImagem.FormFile"
                           type="file"
                           class="form-control"
                           accept="image/*" />
                    <span asp-validation-for="ArquivoImagem.FormFile" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <span class="text-danger">*</span>
                        <label asp-for="Atleta.Graduacao" class="control-label"></label>
                        <select asp-for="Atleta.Graduacao"
                                class="form-select"
                                asp-items="Html.GetEnumSelectList<IFL.WebApp.Model.GraduacaoJudo>()">
                        </select>
                        <span asp-validation-for="Atleta.Graduacao" class="text-danger"></span>
                    </div>
                </div>
            </div>
             


            <div class="row">
                <div class="col-md-12">
                    <h5 class="mt-4">Modalidades e Horários</h5>

                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>
                                    <button type="button" class="btn btn-outline-primary btn-sm p-1"
                                            onclick="adicionarLinha()">
                                        <i class="bi bi-plus-circle"></i>
                                    </button>
                                </th>
                                <th>Modalidade</th>
                                <th>Horário</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.AtletaGrades.Count; i++)
                            {
                                <tr data-index="@i">
                                    <td>
                                        <button type="button" class="btn btn-outline-danger btn-sm p-1"
                                                onclick="marcarParaExclusao(this, 'AtletaGrades');">
                                            <i class="bi bi-trash"></i>
                                        </button>

                                        <input type="hidden" asp-for="AtletaGrades[@i].Id" />
                                        <input type="hidden" asp-for="AtletaGrades[@i].MarcadoParaExclusao" />
                                    </td>
                                    <td>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="AtletaGrades[@i].ModalidadeId"></label>
                                                <select asp-for="AtletaGrades[@i].ModalidadeId" asp-items="Model.Modalidades" class="form-select">
                                                    <option value="">Selecione</option>
                                                </select>
                                                <span asp-validation-for="AtletaGrades[@i].ModalidadeId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="AtletaGrades[@i].HorarioId"></label>
                                                <select asp-for="AtletaGrades[@i].HorarioId" asp-items="Model.Horarios" class="form-select">
                                                    <option value="">Selecione</option>
                                                </select>
                                                <span asp-validation-for="AtletaGrades[@i].HorarioId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>




            <div class="form-group mt-3 d-flex justify-content-between">
                <input type="submit" value="Gravar" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script>
                let contador = `@Model.AtletaGrades.Count`;

                const horarios = `@Html.Raw(string.Join("",
                                                      Model.Horarios.Select(e => $"<option value=\"{e.Value}\">{e.Text}</option>")))`

                const modalidades = `@Html.Raw(string.Join("",
                                              Model.Modalidades.Select(e => $"<option value=\"{e.Value}\">{e.Text}</option>")))`;

    function adicionarLinha() {
        const tbody = document.querySelector('table tbody');

                        const novaLinha = document.createElement('tr');
                        novaLinha.innerHTML = `
                            <td>
                                <button type="button" class="btn btn-outline-danger btn-sm p-1"
                                        onclick="this.closest('tr').remove()">
                                    <i class="bi bi-trash"></i>
                                </button>
                                <input type="hidden" name="AtletaGrades[${contador}].Id" value="0" />
                            </td>
                            <td>
                                <select name="AtletaGrades[${contador}].ModalidadeId" class="form-select">
                                        ${modalidades}
                                </select>

                            </td>
                            <td>
                                <select name="AtletaGrades[${contador}].HorarioId" class="form-select">
                                        ${horarios}
                                </select>
                            </td>
                        `;

                        tbody.appendChild(novaLinha);
                        contador++;
                    };

                    function marcarParaExclusao(button, arrayName) {
                        const row = button.closest('tr');

                        const hidden = row.querySelector(
                            `input[type="hidden"][name^="${arrayName}["][name$=".MarcadoParaExclusao"]`
                        );

                        if (!hidden) return;

                        hidden.value = "true";

                        row.classList.add('table-danger', 'text-muted');

                        button.disabled = true;
                    };
    </script>
}
