@page
@model IFL.WebApp.Areas.Admin.Pages.General.Atletas.DeleteModel

@{
    ViewData["Title"] = "Excluir";
}

<breadcrumb items="Cadastros, Gerais, Atleta, Excluir"></breadcrumb>

<div class="alert alert-danger p-3" role="alert">Confirma a Exclusão do Registro?</div>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Atleta.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Atleta.Nome)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Atleta.Id" />

        <div class="form-group mt-3 d-flex justify-content-between">
            <input type="submit" value="Excluir" class="btn btn-danger" />
            <a asp-page="./Index" class="btn btn-secondary">Voltar</a>
        </div>
    </form>
</div>
