@page
@model IFL.WebApp.Areas.Admin.Pages.General.AvaliacoesNutricional.CreateModel

@{
    ViewData["Title"] = "Inserir";
}

<breadcrumb items="Cadastros, Gerais, Avaliação Nutricional, Inserir"></breadcrumb>

<div class="row">
    <div class="col-md-10">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="AvaliacaoNutricional.AtletaId"></label>
                        <select asp-for="AvaliacaoNutricional.AtletaId" asp-items="Model.Atletas" class="form-select">
                            <option value="">Selecione</option>
                        </select>
                        <span asp-validation-for="AvaliacaoNutricional.AtletaId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="AvaliacaoNutricional.Data" class="control-label"></label>
                        <input asp-for="AvaliacaoNutricional.Data" type="date" class="form-control" />
                        <span asp-validation-for="AvaliacaoNutricional.Data" class="text-danger"></span>
                    </div>
                </div>



            </div>

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <span class="text-danger">*</span>
                        <label asp-for="AvaliacaoNutricional.PesoAsString" class="control-label"></label>
                        <input asp-for="AvaliacaoNutricional.PesoAsString" class="form-control" />
                        <span asp-validation-for="AvaliacaoNutricional.PesoAsString" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="AvaliacaoNutricional.AlturaAsString" class="control-label"></label>
                        <input asp-for="AvaliacaoNutricional.AlturaAsString" class="form-control" />
                        <span asp-validation-for="AvaliacaoNutricional.AlturaAsString" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="AvaliacaoNutricional.GorduraViceralAsString" class="control-label"></label>
                        <input asp-for="AvaliacaoNutricional.GorduraViceralAsString" class="form-control" />
                        <span asp-validation-for="AvaliacaoNutricional.GorduraViceralAsString" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="AvaliacaoNutricional.AguaCorporalAsString" class="control-label"></label>
                        <input asp-for="AvaliacaoNutricional.AguaCorporalAsString" class="form-control" />
                        <span asp-validation-for="AvaliacaoNutricional.AguaCorporalAsString" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="AvaliacaoNutricional.PctGorduraAsString" class="control-label"></label>
                        <input asp-for="AvaliacaoNutricional.PctGorduraAsString" class="form-control" />
                        <span asp-validation-for="AvaliacaoNutricional.PctGorduraAsString" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="AvaliacaoNutricional.MassaMuscularAsString" class="control-label"></label>
                        <input asp-for="AvaliacaoNutricional.MassaMuscularAsString" class="form-control" />
                        <span asp-validation-for="AvaliacaoNutricional.MassaMuscularAsString" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="AvaliacaoNutricional.MassaLivreAsString" class="control-label"></label>
                        <input asp-for="AvaliacaoNutricional.MassaLivreAsString" class="form-control" />
                        <span asp-validation-for="AvaliacaoNutricional.MassaLivreAsString" class="text-danger"></span>
                    </div>
                </div>


            </div>


            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="AvaliacaoNutricional.Obs" class="control-label"></label>
                    <textarea asp-for="AvaliacaoNutricional.Obs"
                              class="form-control"
                              rows="4"></textarea>
                    <span asp-validation-for="AvaliacaoNutricional.Obs" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb3">
                    <label class="form-label">Imagem de Frente</label>
                    <input asp-for="ArquivoImagem.FormFile"
                           type="file"
                           class="form-control"
                           accept="image/*" />
                    <span asp-validation-for="ArquivoImagem.FormFile" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb3">
                    <label class="form-label">Imagem de Costas</label>
                    <input asp-for="ArquivoImagemCostas.FormFile"
                           type="file"
                           class="form-control"
                           accept="image/*" />
                    <span asp-validation-for="ArquivoImagemCostas.FormFile" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h5 class="mt-4">Anexos</h5>

                    <table id="tabelaAnexos" class="table table-sm">
                        <thead>
                            <tr>
                                <th>
                                    <button type="button" class="btn btn-outline-primary btn-sm p-1"
                                            onclick="adicionarAnexo()">
                                        <i class="bi bi-plus-circle"></i>
                                    </button>
                                </th>
                                <th>Descrição</th>
                                <th>Arquivo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Anexos.Count; i++)
                            {
                                <tr data-index="@i">
                                    <td>
                                        <button type="button" class="btn btn-outline-danger btn-sm p-1"
                                                onclick="marcarParaExclusao(this, 'Anexos');">
                                            <i class="bi bi-trash"></i>
                                        </button>

                                        <input type="hidden" asp-for="Anexos[@i].Id" />
                                        <input type="hidden" asp-for="Anexos[@i].MarcadoParaExclusao" />
                                    </td>
                                    <td>
                                        <input asp-for="Anexos[@i].Descricao" class="form-control" />
                                        <span asp-validation-for="Anexos[@i].Descricao" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="Anexos[@i].FormFile"
                                               type="file"
                                               class="form-control"
                                               accept="*" />
                                        <span asp-validation-for="Anexos[@i].FormFile" class="text-danger"></span>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="form-group mt-3 d-flex justify-content-between">
                <input type="submit" value="Gravar" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
                
                let contadorAnexo = `@Model.Anexos.Count`;

                function adicionarAnexo() {
                    const tbody = document.querySelector('#tabelaAnexos tbody');

                    const novaLinha = document.createElement('tr');
                    novaLinha.innerHTML = `
                        <td>
                            <button type="button" class="btn btn-outline-danger btn-sm p-1"
                                    onclick="marcarParaExclusao(this, 'Anexos');">
                                <i class="bi bi-trash"></i>
                            </button>

                        <input type="hidden" name="Anexos[${contadorAnexo}].Id" value="0"/>
                        <input type="hidden" name="Anexos[${contadorAnexo}].MarcadoParaExclusao" value="false"/>
                        </td>
                        <td>
                        <input name="Anexos[${contadorAnexo}].Descricao" class="form-control" />
                                <span class="text-danger field-validation-valid"
                                           data-valmsg-for="Anexos[${contadorAnexo}].Descricao"
                                       data-valmsg-replace="true"></span>
                        </td>
                        <td>
                        <input name="Anexos[${contadorAnexo}].FormFile"
                                   type="file"
                                   class="form-control"
                                   accept="*" />
                        </td>
                    `;

                    tbody.appendChild(novaLinha);
                    contadorAnexo++;
                }

                function marcarParaExclusao(button, arrayName) {
                    const row = button.closest('tr');

                    const hidden = row.querySelector(
                        `input[type="hidden"][name^="${arrayName}["][name$=".MarcadoParaExclusao"]`
                    );

                    if (!hidden) return;

                    hidden.value = "true";

                    row.classList.add('table-danger', 'text-muted');

                    button.disabled = true;
                };
    </script>
}
